Hello {{ name }}!
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js</title>
    <link href="{{ asset('bundles/framework/css/contact.css') }}" rel="stylesheet" />
</head>
<body>

</body>
</html>