<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>o2o校园线上超市</title>
    <link rel="icon" href="{{ asset('assets/img/icon/favicon.ico') }}" />
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="{{ asset('assets/lib/script/requirejs/2.1.11/require.js') }}"></script>
</head>
<body>
    {{ name }}
</body>
</html>